.rounded-anchorpane {
    background-color: white;
    border-radius: 20px;
    padding: 10px;
}

.rounded-button {
    background-color: black;
    color: white;
    font-weight: bold;
    padding: 1px 6px;
    border-radius: 8px;
}

.image-button {
    background-color: transparent;
    background-image: url('credit_card.png');
    background-size: cover;
    background-position: center;
    color: white;
    font-weight: bold;
    padding: 1px 6px;
    border-radius: 15px;
}

.rounded-anchorpane2 {
    background-radius: 20px;
    border-radius: 20px;
    padding: 10px;
}

.text-with-line {
    color: white;
    font-size: 16px;
    font-weight: regular;
    border-style: solid;
    border-color: gray;
    border-width: 0 0 1px 0;
    padding: 0 0 5px 0;
}

.rounded-button2 {
    background-color: #FAC352;
    color: black;
    font-weight: bold;
    padding: 1px 6px;
    border-radius: 8px;
}
